# https://clangd.llvm.org/config
---

# clang-tidy checks to remove from clangd that we still want to see when running clang-tidy manually but don't care about 
Diagnostics:
  ClangTidy:
    Remove: [bugprone-branch-clone, readability-convert-member-functions-to-static, readability-static-accessed-through-instance,readability-make-member-function-const]
    FastCheckFilter: Loose

# Exclude certain, noisy warnings that lack full context. Replace with lowered severity if/when
# clangd gets diagnostic severity support. (See: https://github.com/clangd/clangd/issues/1937)
CompileFlags:
  Add:
    - -Wno-unneeded-internal-declaration
    - -Wno-unused-const-variable
    - -Wno-unused-function
    - -Wno-unused-variable
    - -Wno-unused-private-field
    - -Wno-unused-but-set-variable
    - -Wno-unused-lambda-capture